<div class="container" id="cont">
  <div class="row">
    <div class="col">
    <h1 >Connecting</h1>
    <h2>the world to crypto</h2>
    <p>the easy way to send, store, and trade </br> digital currencies</p>
    <button type="button" class="btn btn-primary">Get a Free Wallet</button>          
    </div>
  <div class="row">
    <div class="col">
    <div class="shadow-lg p-4 mb-4 bg-white">$7,290,44Bitcoin</div>
    <div class="shadow p-4 mb-4 bg-white" id="box">$295,67Ethereum</div>
    <div class="shadow-lg p-4 mb-4 bg-white">$652,10Bitcoin Cash</div>
    </div>
  </div>